
$catalogItem-list-width: 50%;
$catalogItem-list-width-xs: 95%;
$catalogItem-list-image-size: 140px;
$catalogItem-list-image-size-xs: 125px;
$catalogItem-list-margin: 0.2em;
$catalogItem-list-artist-fontsize:25px;

$catalogItem-grid-width: 14%;
$catalogItem-grid-width-xs: 60%;
$catalogItem-grid-image-size: 250px;
$catalogItem-grid-image-size-xs: 250px;
$catalogItem-grid-margin: 1.5em;
$catalogItem-grid-artist-fontsize:18px;
$catalogItem-grid-subdescription-fontsize:16px;
$catalogItem-grid-subimage-fontsize:15px;



.catalog.list,
.catalog.grid{

    .catalogItem{
        width: $catalogItem-grid-width;
        margin: $catalogItem-grid-margin;
        @include flex-content(column, flex-start, flex-start);
        cursor: pointer;
        .image-content{
            @include flex-content(column, flex-end, flex-start);
            
            .catalog-image{
               width: getVhFromPx($catalogItem-grid-image-size);
               height: getVhFromPx($catalogItem-grid-image-size);
               background-color: #ccc;
            }

            .catalog-subimage{
                @include flex-content(row,center, space-between);
                width: 100%;
                position: relative;
                z-index: 2;
                padding: 0.2em 0vh;
                bottom: 1.1em;
                color: white;
                background: rgba(0,0,0,0.8);
                span{
                    margin: 0 1vh;
                    font-size: getVhFromPx($catalogItem-grid-subimage-fontsize);
                }
            }
            
        }

        .catalog-description{
            @include flex-content(column, flex-start, center);
            width: 100%;
            
            .artist-name{
                font-weight: 900;
                font-size: getVhFromPx($catalogItem-grid-artist-fontsize);
            }

            .collection-name{
                margin-top:1em;
            }

            .catalog-subdescription{
                color:$color5;
                font-size: getVhFromPx($catalogItem-grid-subdescription-fontsize);
                div{
                    margin: 0.5em 0;
                }
            }
        }
    }
}


.catalog.list{
    .catalog-content{
        @include flex-content(column, center, center );  
    }
    .catalogItem{
        width: $catalogItem-list-width;
        @include flex-content(row, flex-start, flex-start);
        margin: $catalogItem-list-margin!important;

        .image-content{
            margin-right: 3vh;
            .catalog-image{
                width: $catalogItem-list-image-size!important;
                height: $catalogItem-list-image-size!important;
            }
        }

        .catalog-description{
            @include flex-content(column, flex-start, center);
            width: 100%;
            
            .artist-name{
                font-weight: 900;
                font-size: getVhFromPx($catalogItem-list-artist-fontsize);
            }

            .catalog-subdescription{
                margin-top:1em;
            }
            
        }

    }
}
@media only screen and (max-width: 600px) {
    .catalog.list{
        .catalogItem{
            width: $catalogItem-list-width-xs;
            .image-content .catalog-image{
                    width: $catalogItem-list-image-size-xs!important;
                    height: $catalogItem-list-image-size-xs!important;
                
            }
        }
    }
    .catalog.grid{
       
        .catalog-content{
            @include flex-content(column, center, center);
        }
        .catalogItem{
            width: $catalogItem-grid-width-xs;
            .catalog-image{
                width:$catalogItem-grid-image-size-xs!important;
                height:$catalogItem-grid-image-size-xs!important; 
             }
        }
    }
}