$catalog-padding: 20px;
$catalog-no-content-margin-top: 200px;
$catalog-no-content-margin-fontsize: 30px;

//---
$catalog-bar-height: 50px;
$catalog-bar-font-size: 21px;
$catalog-bar-icon-color-active: $color5;
$catalog-bar-icon-color-deactive: $color3;
$catalog-bar-icon-fontsize: 25px;

.catalog{
    
    .no-catalog{
        width: 100%;
        text-align: center;
        font-size: getVhFromPx($catalog-no-content-margin-fontsize);
        margin-top: getVhFromPx($catalog-no-content-margin-top);
    }

    .catalog-content{
        padding: 0 $catalog-padding;
        padding-top: 2%;
        @include flex-content(row, flex-start, space-between  );
        @include flex-wrap(wrap);
        //margin: 0 auto;

    }
    
    .catalog-bar{
        width: 100%;
        background-color: $color2;
        height: getVhFromPx($catalog-bar-height);
        @include flex-content(row, center, flex-end );

        .order-content,
        .view-content{
            margin-right: 2vh;
        }

        .view-content{
            border-right: 1px solid $catalog-bar-icon-color-deactive;
            @include flex-content(row, center, flex-end );
        }
        .order-content{
            @include flex-content(row, center, flex-end ); 
        }

        .title-bar,
        .filterLink{
            margin-right: 1vh;
            font-size: getVhFromPx($catalog-bar-font-size);
            cursor: pointer;
        }

        .filterLink.active{
            font-weight: 900;
            svg{
                color:$color5;
            }
            
        }

        .icon{
            color:$catalog-bar-icon-color-deactive;
            font-size: getVhFromPx($catalog-bar-icon-fontsize);
            margin-right: 1vh;
            &.active{
                color:$catalog-bar-icon-color-active;
            }
        }

    }
}